

section#cover {
	background-image: url('../images/got-backgroundimage.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 65vh;
	border-bottom: 8px solid #757575;
}


p.title {
	font-family: 'Cinzel', serif;
	font-size: 4rem;
	color: #d4d4d4;
	text-align: center;
}

section#products {
	padding: 2rem;
	border-bottom: 10px solid #c40505;
}

.products {
	background-color: #c40505;
	color: #ededed;
	padding: 1rem;
}

.margin-top {
	margin-top: 2.5rem;
}

div.col-md-4 {
	border: 1px solid rgba(117, 117, 117, .4);
	margin-bottom: 2.5rem;
	padding: 1.5rem;
}

div.col-md-4:last-child {
	margin-bottom: 0;
}

hr {
	visibility: hidden;
	margin: 0;
}

button a {
	color: #c40505;
}

button a:hover, button:hover a {
	color: white;
	text-decoration: none;
}

h2.lighter {
	font-weight: 300;
}
 section#video {
 	background-color: rgb(30, 30, 30);
 	padding: 2rem;
 }

 section#video h2 {
 	font-family: 'Cinzel';
 }

 section#video h2 {
 	color: #d4d4d4;
 	font-size: 2.5rem;
 	margin-bottom: 2rem;
 	font-weight: 400;
 	letter-spacing: 1px;
 }

 section#video p {
 	margin-top: 2rem;
 	font-size: 1.3rem;
 	letter-spacing: 1px;
 	color: #d4d4d4;
 	text-align: center;
 }

 section#video a {
 	font-style: italic;
 	text-decoration: none;
 	color: #d4d4d4;
 }

 section#video a:hover {
 	color: #c40505;
 }

 section#facts {
 	color: #ededed;
 	background-color: #aa9586;
 	padding-top:2rem;
 	border: 15px double #757575;
 }

 section#facts h3 {
 	font-family: 'Cinzel';
 	font-weight: 300;
 	text-shadow: 1px 1px #000;
 }

 ul {
 	border: 5px double #757575;
 	margin-bottom: 3rem;
 }

 li {
 	font-size: 1.2rem;
 	font-weight: 300;
 	padding: .5em;
 }

 footer {
 	background-color: rgba(30, 30, 30, .9);
 }

 footer p {
 	text-align: center;
 	margin-top: 2rem;
 	margin-bottom: 2rem;
 	color: #d4d4d4;
 	letter-spacing: 1px;

 }

 i {
 	color: #c3164d;
 }

 footer a {
 	text-decoration: none;
 	color: #fbdde6;

 }

 footer a:hover {
 	text-decoration: none;
 	color: #c3164d;
 }


 /* =====================================================*/

@media all and (min-width: 768px){
	hr {
		visibility: visible;
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;
	}
	div.col-md-4 {
		border: none;
		margin-bottom: 0rem;
		padding: none;
	}

}
















