


section#cover {
	background-image url('../images/got-backgroundimage.jpg');
	background-repeat no-repeat;

	background-size cover;
	background-size 100% auto;
	
	height: 450px;
	border-bottom: 8px solid #757575;

}

#image-container {
	min-height: 100%;
	background-image: url('../images/got-backgroundimage.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

p.title {
	font-family: 'Cinzel', serif;
	font-size: 4rem;
	margin-top: 2rem;
	color: #d4d4d4;
	text-align: center;
}

section#products {
	padding: 2rem;
	border-bottom: 8px solid #a30404;
	border-bottom: 10px solid #c40505;
}

.products {
	background-color: #c40505;
	color: #ededed;
	padding: 1rem;
}

div.col-md-4 {
	border: 1px solid rgba(117, 117, 117, .4);
	margin-bottom: 2.5rem;
	padding: 1.5rem;
}

div.col-md-4:last-child {
	margin-bottom: 0;
}

hr {
	visibility: hidden;
	margin: 0;
}

button a {
	color: #c40505;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	background-color: #c40505;
	color: white;
}

button a:hover {
	color: white;
	text-decoration: none;
}

h2.lighter {
	font-weight: 300;
}
 section#video {
 	background-color: rgb(30, 30, 30);
 	padding: 2rem;
 	border-bottom: 8px solid #757575;
 }

 section#video h2 {
 	color: #d4d4d4;
 	font-size: 2.5rem;
 	margin-bottom: 2rem;
 	font-weight: 400;
 	letter-spacing: 1px;
 }

 section#video p {
 	margin-top: 2rem;
 	font-size: 1.3rem;
 	letter-spacing: 1px;
 	color: #d4d4d4;
 	text-align: center;
 }

 section#video a {
 	font-style: italic;
 	text-decoration: none;
 	color: #d4d4d4;
 }

 section#video a:hover {
 	color: #c40505;
 }

@media all and (min-width: 768px){
	hr {
		visibility: visible;
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;
	}
	div.col-md-4 {
		border: none;
		margin-bottom: 0rem;
		padding: none;
	}

}
















