


section#cover {
	background-image: url('../images/got-backgroundimage.jpg');
	background-repeat: no-repeat;

	background-size cover;
	background-size: 100% auto;
	
	height: 450px;
	border-bottom: 8px solid #757575;

}

p.title {
	font-family: 'Cinzel', serif;
	font-size: 4rem;
	margin-top: 2rem;
	color: #d4d4d4;
	text-align: center;
}

section#products {
	padding: 2rem;
	border-bottom: 8px solid #a30404;
	border-bottom: 10px solid #c40505;
}

.products {
	background-color: #c40505;
	color: #ededed;
	padding: 1rem;
}

button a {
	color: #c40505;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	background-color: #c40505;
	color: white;
}

button a:hover {
	color: white;
	text-decoration: none;
}

h2 {
	font-weight: 300;
}


















